<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Organizer</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Organizer</h1>
<h3>Add task to list</h3>
<form th:action="@{/add}" method="post" th:object="${task}">
    <table border="1px">
        <tr>
            <td>
                <label for="priorityId">Priority</label>
                <input type="number" id="priorityId" name="priorityId" th:field="*{priorityId}">
                <span th:if="${#fields.hasErrors('priorityId')}" th:errors="*{priorityId}"></span>
            </td>
            <td>
                <label for="description">Description</label>
                <input type="text" id="description" name="description" th:field="*{description}">
                <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
            </td>
            <td>
                <label for="date">Date</label>
                <input type="date" id="date" name="date" th:field="*{date}" >
                <span th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></span>
            </td>
            <td>
                <input type="submit" value="add task">
            </td>
        </tr>
    </table>
</form>
<form th:action="@{/deleteAll}" method="post">
    <input type="submit" value="Delete All Tasks">
</form>
<br>
<h2>Task list(task count : <span th:text="${taskSize}"></span>)</h2>
<table border="1px">
    <tr>
        <td>Id</td>
        <td>Priority</td>
        <td>Task description</td>
        <td>Date</td>
        <td>Delete from list</td>
    </tr>
    <tr th:each="task : ${taskList}">
        <td th:text="${task.id}"></td>
        <td th:text="${task.priorityId}"></td>
        <td th:text="${task.description}"></td>
        <td th:text="${task.date}"></td>
        <td><a th:href="@{'/delete/' + ${task.id}}">Delete</a></td>
    </tr>
</table>
</body>
</html>